Connection database candidatesdb

In [2]:
import configparser
from sqlalchemy import create_engine
import pandas as pd

config = configparser.ConfigParser()
config.read('config.ini')

host = config['mysql']['host']
user = config['mysql']['user']
password = config['mysql']['password']
database = config['mysql']['database']

# Create the MySQL connection URL
url_sql = f"mysql+pymysql://{user}:{password}@{host}/{database}"

# Select the connetion database to work
conn = create_engine(url_sql)
print("Successful Connection")

Successful Connection

NOTE: A candidate is considered hired if he has both scores greater than or equal to 7 So in each query I am going to place the condition.

1. Hiring by technology

In [15]:
query_technology = """
SELECT technology, COUNT(*) AS hiring
FROM candidates
WHERE code_challenge_score >= 7 AND technical_interview_score >= 7
GROUP BY technology
"""
df_technology = pd.read_sql(query_technology, conn)
print("Hiring by technology:\n")
print(df_technology)

Hiring by technology:

                                 technology  hiring
0                            Client Success     271
1         Social Media Community Management     237
2                     System Administration     293
3                          Game Development     519
4                                    Design     249
5                  Adobe Experience Manager     282
6                                    DevOps     495
7                                  Security     266
8   Business Analytics / Project Management     255
9                       Security Compliance     250
10                    Business Intelligence     254
11               Development - CMS Frontend     251
12                               Salesforce     256
13                   Development - Frontend     266
14                        Technical Writing     223
15                                 Mulesoft     260
16                            Data Engineer     255
17                                QA Manual     259
18                  Development - FullStack     254
19                  Database Administration     282
20                            QA Automation     243
21                    Development - Backend     255
22                                    Sales     239
23                Development - CMS Backend     284

2. HIRING BY YEAR

In [14]:
query_year = """
SELECT YEAR(application_date) AS year, COUNT(*) AS hiring
FROM candidates
WHERE code_challenge_score >= 7 AND technical_interview_score >= 7
GROUP BY YEAR(application_date)
"""
df_year = pd.read_sql(query_year, conn)
print("\nHires by year:\n")
print(df_year)

Hires by year:

   year  hiring
0  2020    1485
1  2018    1409
2  2021    1485
3  2022     795
4  2019    1524

3. HIRING BY YOE

In [16]:
query_seniority = """
SELECT seniority, COUNT(*) AS hiring
FROM candidates
WHERE code_challenge_score >= 7 AND technical_interview_score >= 7
GROUP BY seniority
"""
df_seniority = pd.read_sql(query_seniority, conn)
print("\nHiring by seniority:\n")
print(df_seniority)

Hiring by seniority:

   seniority  hiring
0  Mid-Level     924
1       Lead     929
2     Junior     977
3     Senior     939
4    Trainee     973
5     Intern     985
6  Architect     971

4. HIRING BY YEAR AND COUNTRY

In [11]:
query_country_year = """
SELECT country, YEAR(application_date) AS year, COUNT(*) AS hiring
FROM candidates
WHERE code_challenge_score >= 7 AND technical_interview_score >= 7
AND country IN ('United States of America', 'Brazil', 'Colombia', 'Ecuador')
GROUP BY country, YEAR(application_date)
"""
df_country_year = pd.read_sql(query_country_year, conn)
print("\n Hiring by country over the years\n(USA, Brazil, Colombia and Ecuador): \n")
print(df_country_year)

conn.dispose()

 Hiring by country over the years
(USA, Brazil, Colombia and Ecuador):

                     country  year  hiring
0                     Brazil  2018       9
1                   Colombia  2018       7
2                    Ecuador  2018       1
3                    Ecuador  2020       8
4                     Brazil  2019       7
5   United States of America  2021       8
6   United States of America  2018       5
7                    Ecuador  2021       5
8                   Colombia  2019       8
9   United States of America  2019       3
10                   Ecuador  2019       3
11  United States of America  2022       5
12                  Colombia  2020       8
13                    Brazil  2020       6
14                    Brazil  2022       4
15                   Ecuador  2022       3
16                  Colombia  2022       1
17                    Brazil  2021       7
18  United States of America  2020       4
19                  Colombia  2021       1