Connection database candidatesdb

In [17]:
import configparser
from sqlalchemy import create_engine
import pandas as pd

config = configparser.ConfigParser()
config.read('config.ini')

host = config['mysql']['host']
user = config['mysql']['user']
password = config['mysql']['password']
database = config['mysql']['database']

# Create the MySQL connection URL
url_sql = f"mysql+pymysql://{user}:{password}@{host}/{database}"

# Select the connetion database to work
conn = create_engine(url_sql)
print("Successful Connection")

Successful Connection

NOTE: A candidate is considered hired if he has both scores greater than or equal to 7 So in each query I am going to place the condition.

1. Hiring by technology

In [18]:
query_technology = """
SELECT technology, COUNT(*) AS hiring
FROM candidates
WHERE code_challenge_score >= 7 AND technical_interview_score >= 7
GROUP BY technology
"""
df_technology = pd.read_sql(query_technology, conn)
print("Hiring by technology:")
print(df_technology)

Hiring by technology:
                                 technology  hiring
0                            Client Success     271
1         Social Media Community Management     237
2                     System Administration     293
3                          Game Development     519
4                                    Design     249
5                  Adobe Experience Manager     282
6                                    DevOps     495
7                                  Security     266
8   Business Analytics / Project Management     255
9                       Security Compliance     250
10                    Business Intelligence     254
11               Development - CMS Frontend     251
12                               Salesforce     256
13                   Development - Frontend     266
14                        Technical Writing     223
15                                 Mulesoft     260
16                            Data Engineer     255
17                                QA Manual     259
18                  Development - FullStack     254
19                  Database Administration     282
20                            QA Automation     243
21                    Development - Backend     255
22                                    Sales     239
23                Development - CMS Backend     284

2. HIRING BY YEAR

In [19]:
query_year = """
SELECT YEAR(application_date) AS year, COUNT(*) AS hiring
FROM candidates
WHERE code_challenge_score >= 7 AND technical_interview_score >= 7
GROUP BY YEAR(application_date)
"""
df_year = pd.read_sql(query_year, conn)
print("\nHires by year:")
print(df_year)

Hires by year:
   year  hiring
0  2020    1485
1  2018    1409
2  2021    1485
3  2022     795
4  2019    1524

3. HIRING BY YOE

In [20]:
query_seniority = """
SELECT yoe, COUNT(*) AS hiring
FROM candidates
WHERE code_challenge_score >= 7 AND technical_interview_score >= 7
GROUP BY yoe
"""
df_seniority = pd.read_sql(query_seniority, conn)
print("\nHiring by seniority:")
print(df_seniority)

Hiring by seniority:
   yoe  hiring
0    4     221
1   13     208
2   18     241
3   16     212
4   14     219
5    5     233
6    9     211
7   11     231
8   30     231
9   19     225
10   7     218
11  10     206
12   2     234
13   3     198
14   1     223
15  25     222
16  12     213
17  24     241
18  29     217
19   8     206
20  20     213
21  26     246
22  15     237
23  28     216
24  23     215
25   0     117
26  17     206
27  21     193
28  22     231
29  27     200
30   6     214

4. HIRING BY YEAR AND COUNTRY

In [21]:
query_country_year = """
SELECT country, YEAR(application_date) AS year, COUNT(*) AS hiring
FROM candidates
WHERE code_challenge_score >= 7 AND technical_interview_score >= 7
AND country IN ('USA', 'Brazil', 'Colombia', 'Ecuador')
GROUP BY country, YEAR(application_date)
"""
df_country_year = pd.read_sql(query_country_year, conn)
print("\nHiring by country over the years (USA, Brazil, Colombia and Ecuador):")
print(df_country_year)

conn.dispose()

Hiring by country over the years (USA, Brazil, Colombia and Ecuador):
     country  year  hiring
0     Brazil  2018       9
1   Colombia  2018       7
2    Ecuador  2018       1
3    Ecuador  2020       8
4     Brazil  2019       7
5    Ecuador  2021       5
6   Colombia  2019       8
7    Ecuador  2019       3
8   Colombia  2020       8
9     Brazil  2020       6
10    Brazil  2022       4
11   Ecuador  2022       3
12  Colombia  2022       1
13    Brazil  2021       7
14  Colombia  2021       1