CONNECTION TO MySQL DATABASE

In [3]:
import configparser
import pymysql
import csv

config = configparser.ConfigParser()
config.read('configdb.ini')

host = config['mysql']['host']
user = config['mysql']['user']
password = config['mysql']['password']

#Conexión a la base de datos
conn = pymysql.connect(
    host=host,
    user=user,
    password=password
)

print("Successful connection")
cursor = conn.cursor()

Successful connection

CREATE THE TABLE AND COPY THE DATA OF CSV

In [4]:
# Crear la tabla si no existe
cursor.execute("CREATE DATABASE IF NOT EXISTS candidates")
# Seleccionar la base de datos
cursor.execute(f"USE candidates")

# Crear la tabla si no  EN LA BASE DE DATOS
cursor.execute("""
CREATE TABLE candidates (
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50),
    email VARCHAR(50) NOT NULL,
    application_date DATE NOT NULL,
    country VARCHAR(250) NOT NULL,
    yoe VARCHAR(50) NOT NULL,
    seniority VARCHAR(50) NOT NULL,
    technology VARCHAR(50) NOT NULL,
    code_challenge_score INT NOT NULL DEFAULT 0,
    technical_interview_score INT NOT NULL DEFAULT 0)
""")

# Leer el archivo CSV línea por línea y copiarlo en la tabla
with open('candidates.csv', 'r') as csvfile:
    next(csvfile)  # Omitir la primera fila (encabezados de columna)
    for line in csvfile:
        # Eliminar los espacios en blanco y dividir la línea en campos
        first_name, last_name, email, application_date, country, yoe, seniority, technology, code_challenge_score, technical_interview_score = line.strip().split(';')
        
        # Ejecutar una consulta SQL para insertar los datos en la tabla candidates
        sql = """ 
        INSERT INTO candidates 
        (first_name, last_name, email, application_date, country, yoe, seniority, technology, code_challenge_score, technical_interview_score)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        cursor.execute(sql, (first_name, last_name, email, application_date, country, yoe, seniority, technology, code_challenge_score, technical_interview_score))

print("The data was successfully inserted into the database")
# Confirmar los cambios
conn.commit()
# Cerrar la conexión
conn.close()

The data was successfully inserted into the database