CONNECTION DATABASE CANDIDATES

In [1]:
import configparser
import pymysql
import pandas as pd

config = configparser.ConfigParser()
config.read('configdb.ini')

host = config['mysql']['host']
user = config['mysql']['user']
password = config['mysql']['password']

#Conexión a la base de datos
conn = pymysql.connect(
    host=host,
    user=user,
    password=password
)

print("Successful connection")
cursor = conn.cursor()

Successful connection

In [2]:
cursor.execute("USE candidates")
query_SQL = "SELECT * FROM candidates"

# Usar Pandas para ejecutar la consulta y cargar los resultados en un DataFrame
df_candidates = pd.read_sql(query_SQL, conn)

# Cerrar la conexión
conn.close()
#print(df_candidates)

C:\Users\USER\AppData\Local\Temp\ipykernel_14932\3328468079.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_candidates = pd.read_sql(query_SQL, conn)

ANALISYS DATAFRAME CANDIDATES (EDA)

In [13]:
#Mostrar las primeras filas del dataframe
print(df_candidates.head())

   id  first_name   last_name                      email application_date  \
0   1  Bernadette   Langworth        leonard91@yahoo.com       2021-02-26
1   2      Camryn    Reynolds        zelda56@hotmail.com       2021-09-09
2   3       Larue      Spinka   okey_schultz41@gmail.com       2020-04-14
3   4        Arch      Spinka     elvera_kulas@yahoo.com       2020-10-01
4   5       Larue  Altenwerth  minnie.gislason@gmail.com       2020-05-20

   country yoe  seniority                         technology  \
0   Norway   2     Intern                      Data Engineer
1   Panama  10     Intern                      Data Engineer
2  Belarus   4  Mid-Level                     Client Success
3  Eritrea  25    Trainee                          QA Manual
4  Myanmar  13  Mid-Level  Social Media Community Management

   code_challenge_score  technical_interview_score
0                     3                          3
1                     2                         10
2                    10                          9
3                     7                          1
4                     9                          7

In [3]:
#Obterner información del DataFrame candidates
print(df_candidates.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         50000 non-null  int64
 1   first_name                 50000 non-null  object
 2   last_name                  50000 non-null  object
 3   email                      50000 non-null  object
 4   application_date           50000 non-null  object
 5   country                    50000 non-null  object
 6   yoe                        50000 non-null  object
 7   seniority                  50000 non-null  object
 8   technology                 50000 non-null  object
 9   code_challenge_score       50000 non-null  int64
 10  technical_interview_score  50000 non-null  int64
dtypes: int64(3), object(8)
memory usage: 4.2+ MB
None

In [12]:
#Agrupar y resumir datos del dataFrame candidates
print(df_candidates.describe().astype(int))

          id  code_challenge_score  technical_interview_score
count  50000                 50000                      50000
mean   25000                     4                          5
std    14433                     3                          3
min        1                     0                          0
25%    12500                     2                          2
50%    25000                     5                          5
75%    37500                     8                          8
max    50000                    10                         10

In [6]:
print(f"Numero de valores nulos: \n\n{df_candidates.isna().sum()}")

Numero de valores nulos:

id                           0
first_name                   0
last_name                    0
email                        0
application_date             0
country                      0
yoe                          0
seniority                    0
technology                   0
code_challenge_score         0
technical_interview_score    0
dtype: int64