Connection to MySQL

In [1]:
import configparser
import pymysql
import csv

config = configparser.ConfigParser()
config.read('config.ini')
host = config['mysql']['host']
user = config['mysql']['user']
password = config['mysql']['password']

conn = pymysql.connect(
    host=host,
    user=user,
    password=password
)
print("Successful Connection")
cursor = conn.cursor()

Successful Connection

Create the table and copy the data of csv

In [2]:
cursor.execute("CREATE DATABASE IF NOT EXISTS candidatesdb")
cursor.execute("USE candidatesdb")

cursor.execute("""
CREATE TABLE candidates (
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50),
    email VARCHAR(50) NOT NULL,
    application_date DATE NOT NULL,
    country VARCHAR(250) NOT NULL,
    yoe VARCHAR(50) NOT NULL,
    seniority VARCHAR(50) NOT NULL,
    technology VARCHAR(50) NOT NULL,
    code_challenge_score INT NOT NULL DEFAULT 0,
    technical_interview_score INT NOT NULL DEFAULT 0,
    hiredcandi BOOLEAN)
""")

with open('candidates.csv', 'r') as csvfile:
    next(csvfile)
    for line in csvfile:
        first_name, last_name, email, application_date, country, yoe, seniority, technology, code_challenge_score, technical_interview_score = line.strip().split(';')
           
        sql = """ 
        INSERT INTO candidates 
        (first_name, last_name, email, application_date, country, yoe, seniority, 
        technology, code_challenge_score, technical_interview_score)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        cursor.execute(sql, (first_name, last_name, email, application_date, country, 
                             yoe, seniority, technology, code_challenge_score, 
                             technical_interview_score))

NOTE: A candidate is considered hired if he has both scores greater than or equal to 7 So in each query I am going to place the condition.

In [3]:
cursor.execute("""
UPDATE candidates
SET hiredcandi = TRUE
WHERE code_challenge_score >= 7 AND technical_interview_score >= 7
""")
print("The data was successfully inserted into the candidates table")
conn.commit()
conn.close()

The data was successfully inserted into the candidates table