Connection database candidatesdb

In [1]:
import configparser
from sqlalchemy import create_engine
import pandas as pd

config = configparser.ConfigParser()
config.read('config.ini')

host = config['mysql']['host']
user = config['mysql']['user']
password = config['mysql']['password']
database = config['mysql']['database']

url_sql = f"mysql+pymysql://{user}:{password}@{host}/{database}"

conn = create_engine(url_sql)
print("Successful Connection")

Successful Connection

Verify the connection and show the dataframe to check that the connection to the database is working correctly.

In [2]:
query_SQL = "SELECT * FROM candidates"
df_candidates = pd.read_sql(query_SQL, conn)
conn.dispose()
print(df_candidates)

          id  first_name   last_name                       email  \
0          1  Bernadette   Langworth         leonard91@yahoo.com
1          2      Camryn    Reynolds         zelda56@hotmail.com
2          3       Larue      Spinka    okey_schultz41@gmail.com
3          4        Arch      Spinka      elvera_kulas@yahoo.com
4          5       Larue  Altenwerth   minnie.gislason@gmail.com
...      ...         ...         ...                         ...
49995  49996     Bethany     Shields  rocky_mitchell@hotmail.com
49996  49997         Era  Swaniawski    dolores.roob@hotmail.com
49997  49998      Martin       Lakin   savanah.stracke@gmail.com
49998  49999       Aliya   Abernathy  vivienne.fritsch@yahoo.com
49999  50000     Coleman      Wisozk   abigayle.crooks@yahoo.com

      application_date             country yoe  seniority  \
0           2021-02-26              Norway   2     Intern
1           2021-09-09              Panama  10     Intern
2           2020-04-14             Belarus   4  Mid-Level
3           2020-10-01             Eritrea  25    Trainee
4           2020-05-20             Myanmar  13  Mid-Level
...                ...                 ...  ..        ...
49995       2022-01-09  Dominican Republic  27    Trainee
49996       2020-06-02             Morocco  21       Lead
49997       2018-12-15              Uganda  20    Trainee
49998       2020-05-30      Czech Republic  20     Senior
49999       2022-06-13               Palau  15     Intern

                              technology  code_challenge_score  \
0                          Data Engineer                     3
1                          Data Engineer                     2
2                         Client Success                    10
3                              QA Manual                     7
4      Social Media Community Management                     9
...                                  ...                   ...
49995                           Security                     2
49996                   Game Development                     1
49997              System Administration                     6
49998            Database Administration                     0
49999                           Mulesoft                     3

       technical_interview_score  hiredcandi
0                              3         NaN
1                             10         NaN
2                              9         1.0
3                              1         NaN
4                              7         1.0
...                          ...         ...
49995                          1         NaN
49996                          2         NaN
49997                          1         NaN
49998                          0         NaN
49999                          1         NaN

[50000 rows x 12 columns]

Exploratory Data Analysis (EDA)

In [3]:
print(df_candidates.head())

   id  first_name   last_name                      email application_date  \
0   1  Bernadette   Langworth        leonard91@yahoo.com       2021-02-26
1   2      Camryn    Reynolds        zelda56@hotmail.com       2021-09-09
2   3       Larue      Spinka   okey_schultz41@gmail.com       2020-04-14
3   4        Arch      Spinka     elvera_kulas@yahoo.com       2020-10-01
4   5       Larue  Altenwerth  minnie.gislason@gmail.com       2020-05-20

   country yoe  seniority                         technology  \
0   Norway   2     Intern                      Data Engineer
1   Panama  10     Intern                      Data Engineer
2  Belarus   4  Mid-Level                     Client Success
3  Eritrea  25    Trainee                          QA Manual
4  Myanmar  13  Mid-Level  Social Media Community Management

   code_challenge_score  technical_interview_score  hiredcandi
0                     3                          3         NaN
1                     2                         10         NaN
2                    10                          9         1.0
3                     7                          1         NaN
4                     9                          7         1.0

In [4]:
print(df_candidates.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         50000 non-null  int64
 1   first_name                 50000 non-null  object
 2   last_name                  50000 non-null  object
 3   email                      50000 non-null  object
 4   application_date           50000 non-null  object
 5   country                    50000 non-null  object
 6   yoe                        50000 non-null  object
 7   seniority                  50000 non-null  object
 8   technology                 50000 non-null  object
 9   code_challenge_score       50000 non-null  int64
 10  technical_interview_score  50000 non-null  int64
 11  hiredcandi                 6698 non-null   float64
dtypes: float64(1), int64(3), object(8)
memory usage: 4.6+ MB
None

In [5]:
print(df_candidates.describe().astype(int))

          id  code_challenge_score  technical_interview_score  hiredcandi
count  50000                 50000                      50000        6698
mean   25000                     4                          5           1
std    14433                     3                          3           0
min        1                     0                          0           1
25%    12500                     2                          2           1
50%    25000                     5                          5           1
75%    37500                     8                          8           1
max    50000                    10                         10           1

In [6]:
print(f"Number of null values in each column:\n\n{df_candidates.isnull().sum()}")

NÃºmero de valores nulos en cada columna:

id                               0
first_name                       0
last_name                        0
email                            0
application_date                 0
country                          0
yoe                              0
seniority                        0
technology                       0
code_challenge_score             0
technical_interview_score        0
hiredcandi                   43302
dtype: int64